:root {
  --background-component: #4e81b80c;
  --background-body: #fafafafa;
  --primary-color: #1a334d;
  --text-white: #fffffffa;
  --border-radius: 1.2rem;
  --margin-lg: 4rem;
  --padding-lg: 4rem;
  --padding: 2rem;
  --margin: 2rem;
}

@font-face {
  font-family: 'Iconic';
  src: url('fonts/iconic-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Iconic';
  src: url('fonts/iconic-light.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  width: 100%;
  display: block;
  font-size: 16px;
  margin: 0 auto;
  line-height: 2.4;
  min-height: 100vh;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-body);
}

.container {
  margin: 0 auto;
  max-width: 75rem;
  padding: 0 var(--padding);
}

.card {
  padding: var(--padding);
  border-radius: var(--border-radius);
  background-color: var(--background-component);
}

.card:nth-of-type(1n) {
  margin-bottom: var(--margin-lg);
}

.card:nth-of-type(2n) {
  text-align: right;
}

.card-title {
  margin-top: 0;
  font-weight: 500;
  font-size: 1.5rem;
}

.card-text {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0;
}

.card-image {
  animation: animation-images 1.5s ease-in-out alternate infinite;
}

@keyframes animation-images {
  0% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}

.card-grid {
  display: grid;
  gap: var(--padding);
  align-items: center;
  grid-template-columns: 2fr 2fr;
}

.header-content {
  padding: var(--padding) 0;
  margin-bottom: var(--margin-lg);
}

.header-card {
  height: 92vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: var(--border-radius);
  background: var(--background-component);
  padding: var(--padding-lg) var(--padding);
}

.card,
.header-card {
  box-shadow: 0 0.5rem 2rem -2rem var(--primary-color);
}

.title {
  margin: 0;
  line-height: 1.8;
  font-size: 2.5rem;
  font-family: 'Iconic', 'Montserrat', sans-serif;
}

.section-title {
  margin: 0;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Iconic', 'Montserrat', sans-serif;
}

.social-networks {
  display: flex;
  justify-content: center;
}

.social-networks-item {
  width: 40px;
  height: 40px;
  position: relative;
}

.social-networks-header {
  margin-top: var(--margin);
}

.social-networks .social-networks-item:nth-child(even) {
  margin: 0 var(--margin);
}

.social-networks-item a {
  content: '';
  width: 100%;
  height: 100%;
  display: flex;
  cursor: pointer;
  position: absolute;
  text-decoration: none;
  justify-content: center;
}

@media screen and (max-width: 48rem) {
  .container {
    padding: 0 0.5rem;
  }

  .section-title {
    font-size: 1.5rem;
  }

  .card-title {
    font-size: 1.3rem;
  }

  .card-grid {
    grid-template-columns: 1fr;
  }

  .card-image {
    display: flex;
    justify-content: center;
  }

  .card-image,
  .card-image img {
    width: 100%;
    height: 25rem;
  }

  .card:nth-of-type(2n) {
    text-align: left;
  }

  .card:nth-of-type(2n) .card-image {
    grid-row: 2 / 3;
  }
}
